* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 1.6rem;
}

ul,li {
    list-style: none;
}

a {
    text-decoration: none;
}